* {
    margin: 0;
}

header {
    height: 12vh;
    display: flex;
    align-items: center;
}

header p {
    font-size: 2em;
    font-family: sans-serif;
    padding-left: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: auto;
    row-gap: 3.5em;
    align-items: center;
    justify-items: center;
}


.gallery {
    height: 20vh;
    width: 14vw;
}

.placeholder-img {
    height: 15vh;
    width: auto;
    background-color: #6ba2d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    
}
.placeholder-img img{
    height: 80%;
    overflow: hidden;
}

.img-name {
    height: 5vh;
    background-color: #faf7ff;
    border-radius: 0 0 20px 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#text {
    padding: 2%;
    display: grid;
    font-size: 1.2em;
}

@media screen and (max-width: 1024px) {

.container {
    grid-template-columns: repeat(3, 1fr);

}

.gallery {
    height: 30vh;
    width: 30vw;

}

.placeholder-img {
    height: 22vh;
}
}
     
     
@media screen and (max-width: 480px) {
header{
    justify-content: center;
}

header p {
    padding: 0;
    font-size: 2em;
}
.container {
    grid-template-columns: repeat(1, 1fr);
    }

.gallery {
        height: 40vh;
        width: 80vw;
    
    }
    
.placeholder-img {
        height: 32vh;
    }

.img-name {
    height: 8vh;
}
}


      